/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #F2F2F2;
}

nav, main, .footer {
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 0.625rem;
}
/*
    ESTILOS GLOBAIS
*/

/* Header */
header {
    width: 100%;
    background-color: #FFFFFF;
}
.header-1 {
    display: flex;
}
.header-2 img{
    max-width: 9.375rem;
}
.header-3{
    display: flex;
    justify-self: right;
}
.header-3 p{
    color: #EA2F2F;
    align-self: center;
    margin-right: 0.625rem;
}
.header-3 a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 0.5rem;
    background: #EA2F2F;
    display: flex;
    padding: 0.5rem 0.625rem;
    align-items: center;
    gap: 0.25rem;
}


/* Banner */
.cardapio{
    max-width: 75rem;
    overflow: hidden;
    position: relative;
    display: grid;
    border-radius: 0.5rem;
    background-color: rgb(233, 91, 45);
    order: 0;
    text-align: center;
    -webkit-box-pack: center;
    align-items: center;
    background-image: url('sources/Cardapio.jpg');
    background-position: 50% 50%;
    height: calc(100vh - 155px);
    background-repeat: no-repeat;
}
.cardapio h1{
    font-family: "veneerregular", sans-serif;
    font-weight: 300;
    color: #FFF;
}


/* Menu de dias */
.diamenu{
    display: flex;
    background: #FFF;
    padding: 0.75rem 1rem;
    align-items: center;
    border-radius: 1rem;
    flex: 1 0 0;
}
.diamenu :hover {
    background-color: #ffc84f;
}
.diamenu h2{
    color: #3C1518;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 1rem;
}
.diamenu-item{
    display: flex;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    flex: 1 0 0;
}
.selected {
    display: flex;
    padding: 1rem;
    flex: 1 0 0;
    border-radius: 0.5rem;
    background: #FFBB24;
}
.desc{
    margin-bottom: 1.25rem;
    display: none;
}


/* Seção e conteudo */
.secao h2{
    margin: 0 0 1.25rem;
    cursor: pointer;
    border-radius: 0.25rem;
    color: #000;
    padding: 0.625rem;
}
.conteudo {
    display: grid;
}
.menu-item {
    display: grid;
    padding: 0.625rem;
    border-radius: 0.25rem;
    border: 1px solid #CCC;
    background-color: #FFF;
    gap: 0.9375rem;
    align-items: start;
}
.item-img img {
    width: 100%;
    height: 100%;
    margin-right: 1.25rem;
    object-fit: contain;
}
.item-container{
    position: relative;
    min-height: 8.4375rem;
}
.item-container h1 {
    margin: 0;
    max-width: 14.375rem;
}
.price {
    position: absolute;
    font-weight: bold;
    color: #ff0000;
    margin-bottom: 0;
    bottom: 0;
    right: 0;
    text-align: end;
    align-items: end;
    text-shadow: 2px 2px 0.25rem rgba(0, 0, 0, 0.3);

    display:none;
}
.tabela{
    display: flex;
    position:absolute;
    font-weight: bold;
    background-color: #ea2f2f;
    color: #fff;
    margin-bottom: 0;
    bottom: 0;
    right: 0;
    text-align:end;
    align-items: center;
    cursor: pointer;
    border-radius: 0.3125rem;

    display: none;
}
.tabela img{
    display: flex;
    color: #FFFFFF;
    max-width: 1.5625rem;
    align-self: end;
    margin-left: 0.25rem;

    display: none;
}


/* Footer */
footer{
    width: 100%;
    background: #EA2F2F;
    color: #FFFFFF;
    padding-bottom: 1rem;
}
footer iframe{
    margin: 0.9375rem 0 0.3125rem 0;
    border-radius: 1.5625rem;
}
footer .linha{
    width: 100%;
    height: 2px;
    background: #BB1E1E;
    margin-bottom: 0.625rem;
}
footer p{
    display: flex;
    justify-content: center;
}


/* WhatsApp */
.whatsapp{
    position: fixed;
    right: 1.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #25d366;
    width: 4.0625rem;
    height: 4.0625rem;
    border-radius: 6.25rem;
    z-index: 999;
    transition: all 0.3s ease-in-out;
}
.whatsapp:hover {
    transform: scale(1.05);
}
.whatsapp .whatsapp-icon {
    font-size: 2.375rem;
}
.whatsapp .whatsapp-text {
    display: none;
}
.whatsapp:hover .whatsapp-text {
    display: block;
    position: absolute;
    right: 100%;
    margin-right: 0.625rem;
    padding: 0.3125rem 0.625rem;
    background-color: #25d366;
    border-radius: 0.625rem;
    font-size: 0.75rem;
    line-height: 1.2;
}


/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-conteudo {
    background-color: #fff;
    padding: 1.25rem;
    width: 80%;
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.9375rem;
}
.fechar {
    color: #aaa;
    float: right;
    cursor: pointer;
    font-weight: bold;
    margin-right: 0.1875rem;
    margin-top: -0.25rem;
}
.fechar:hover, .fechar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Tabela do modal */
table {
    width: 100%;
    border-collapse: collapse;
}
table th, table td {
    padding: 0.5rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
table th:first-child, table td:first-child {
    width: 25%;
}
table th:nth-child(2), table td:nth-child(2) {
    width: 35%;
}
table th:nth-child(3), table td:nth-child(3) {
    width: 20%;
}
table th:nth-child(4), table td:nth-child(4) {
    width: 20%;
}

/* Desktop */
@media (min-width: 64rem) {
    .header{
        max-width: 75rem;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 3fr 1fr 3fr;
        align-items: center;
        color: #000;
        padding: 0.3125rem;
    }

    .header-1{
        font-size: 0.9rem;
        font-weight: 600;
        justify-self: left;
        background: #FFFFFF;
        color: black;
        padding: 0;
    }

    .header-1 svg{
        display: flex;
    }

    .header-1 p{
        margin-left: 0.125rem;
        padding: 0.1875rem;
    }

    .header-2{
        justify-self: center;
    }

    .cardapio{
        background-size: 75rem 62.5rem;
        max-height: 14.375rem;
        margin: 1.5rem auto 0 auto;
    }

    .cardapio h1{
        font-size: 4rem;
    }

    .diamenu {
        max-width: 75rem;
        margin: 1.5625rem auto;
        column-gap: 1.5625rem;
        gap: 1rem;
        overflow: unset;
    }

    .diamenu h2{
        max-width: 7.5rem;
        font-size: 1.5rem;
    }

    .diamenu-item{
        height: 2.5rem;
        width: 100%;
    }

    .secao h2{
        font-size: 2.375rem;
    }
    .conteudo{
        grid-template-columns: repeat(2, 1fr);
        gap: 5rem;
        margin: 0 0 5rem;
    }
    .menu-item{
        margin: 0 0 0;
        grid-template-columns: [col1] 15rem [col2] auto;
    }

    .item-container{
        height: 16.875rem;
    }

    .item-container h1{
        font-size: 1.8rem;
    }

    .item-desc{
        padding-bottom: 1.6875rem;
    }

    .price{
        font-size: 2.2rem;
    }

    .tabela{
        font-size: 1.3rem;
        padding: 0.5rem;
    }
    @media (max-width: 69.125rem) {
        .tabela{
            font-size: 1rem;
        }
    }

    .whatsapp {
        bottom: 1.25rem;
    }

    .modal-conteudo {
        font-size: 1.2rem;
        max-width: 43.75rem;
    }

    .modal-conteudo h2{
        font-size: 2.5rem;
    }

    .fechar {
        font-size: 2.5rem;
    }

    table {
        margin-top: 0.9375rem;
    }
}

/* Tablet */
@media (min-width: 34.21rem) and (max-width: 63.99rem) {
    .header{
        display: grid;
        grid-template-areas:
    "barra barra"
    ". .";
    }

    .header-1{
        background: #EA2F2F;
        color: #FFFFFF;
        justify-content: center;
        padding: 0.5rem;
        grid-area: barra;
    }

    .header-1 svg{
        display: none;
    }

    .header-2, .header-3{
        display: flex;
        max-width: 75rem;
        align-items: center;
        padding: 0.625rem;
    }

    .header-2{
        justify-self: left;
    }

    .cardapio{
        background-size: 37.5rem 31.25rem;
        max-height: 11.875rem;
        margin: 1.5rem auto 0.9375rem auto;
    }
    @media (min-width: 37.5rem){
        .cardapio{
            background-size: 50rem 41.625rem;
        }
    }
    @media (min-width: 50rem){
        .cardapio{
            background-size: 63.75rem 53.125rem;
        }
    }

    .cardapio h1{
        font-size: 3rem;
    }

    .diamenu{
        gap: 1rem;
        margin: auto auto 1.25rem;
    }

    .diamenu h2{
        font-size: 1.5rem;
    }

    .diamenu-item{
        font-size: 0.3125rem;
    }

    .secao h2 {
        font-size: 2.375rem;
    }

    .conteudo {
        margin: 1.25rem 0 0.9375rem;
    }

    .menu-item {
        margin: 0 0 1.5625rem;
        grid-template-columns: [col1] 7.5rem [col2] auto;
    }

    .item-container h1 {
        margin-bottom: 0.625rem;
        font-size: 1.5rem;
    }

    .item-desc{
        padding-bottom: 3.125rem;
    }

    .price {
        font-size: 1.8rem;
    }

    .tabela{
        font-size: 1.2rem;
        padding: 0.4375rem;
    }

    .whatsapp {
        bottom: 1.875rem;
    }

    .modal-conteudo {
        max-width: 31.25rem;
    }

    .modal-conteudo h2{
        font-size: 2rem;
    }

    .fechar {
        font-size: 1.875rem;
    }

    table {
        margin-top: 0.625rem;
    }
}

/* Celular*/
@media (max-width: 34.2rem) {
    .header{
        display: grid;
        grid-template-areas:
    "barra barra"
    ". .";
    }

    .header-1{
        background: #EA2F2F;
        color: #FFFFFF;
        justify-content: center;
        padding: 0.5rem;
        grid-area: barra;
        font-size: 0.8rem;
    }

    .header-1 svg{
        display: none;
    }

    .header-2, .header-3{
        display: flex;
        max-width: 75rem;
        align-items: center;
    }

    .header-2{
        justify-self: left;
        padding: 0.625rem 0.3125rem 0.625rem 0.625rem;
    }

    .header-3{
        padding: 0.625rem 0.625rem 0.625rem 0.3125rem;
    }

    .header-3 p{
        display: none;
    }

    .cardapio{
        background-size: 37.5rem 31.25rem;
        max-height: 8.75rem;
        margin: 1.5rem auto 0.9375rem auto;
    }

    .cardapio h1{
        font-size: 2.5rem;
    }

    .diamenu{
        gap: 0.5rem;
        margin: auto auto 1.25rem;
    }

    .diamenu h2{
        font-size: 1.2rem;
    }

    .secao h2 {
        font-size: 2rem;
    }

    .conteudo {
        margin: 1.25rem 0 0.9375rem;
    }

    .menu-item {
        margin: 0 0 1.5625rem;
        grid-template-columns: [col1] 7.5rem [col2] auto;
    }

    .item-container h1 {
        margin-bottom: 0.625rem;
        font-size: 1.5rem;
    }

    .item-desc{
        padding-bottom: 2.5rem;
    }

    .price {
        font-size: 1.6rem;
    }

    .tabela{
        font-size: 1rem;
        padding: 0.3125rem;
    }

    .whatsapp {
        bottom: 1.875rem;
    }

    .modal-conteudo {
        max-width: 31.25rem;
    }

    .modal-conteudo h2{
        font-size: 2rem;
    }

    .fechar {
        font-size: 1.875rem;
    }

    table {
        margin-top: 0.625rem;
    }
}

