/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(246, 242, 233);
}

header, nav, main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

/* Estilos do cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F9AA33;
    color: #FFF;
}

.logo img {
    max-width: 150px;
}

.header-contact a {
    color: #FFF;
    margin-left: 20px;
    text-decoration: none;
    font-size: 1em;
}

/* sub texto do navegador*/

.cardapio{
    max-width: 1200px;
    max-height: 140px;
    overflow: hidden;
    margin: auto;
    margin-top: 1.5em;
    position: relative;
    display: grid;
    overflow: hidden;
    border-radius: 8px;
    background-color: rgb(233, 91, 45);
    order: 0;
    margin-bottom: 15px;
    text-align: center;
    -webkit-box-pack: center;
    align-items: center;
    background-image: url('sources/Cardapio.jpg');
    background-size: 400px 334px;
    background-position: 50% 50%;
    height: calc(100vh - 155px);
    background-repeat: no-repeat;
}

.cardapio h1{
    font-size: 2em;
    font-family: "veneerregular";
    font-weight: 300;
    color: #FFF;    
}

@media (min-width: 400px){
    .cardapio{
        background-size: 600px 500px;
    }    
}

@media (min-width: 600px){
    .cardapio{
        background-size: 800px 666px;
        max-height: 190px;
    }    
    .cardapio h1{
        font-size: 3em;        
    }
}

@media (min-width: 800px){
    .cardapio{
        background-size: 1200px 1000px;
    }    
}

@media (min-width: 64em){
    .cardapio{
        background-size: 1200px 1000px;
        margin-bottom: 0px;
        max-height: 230px;
    }
    .cardapio h1{
        font-size: 3.5em;        
    }
}

/* Estilo do navegador do dia */

.diamenu{
    width: 100%;
    margin: auto;
    column-gap: 5px;
    padding-top: 15px;
    padding-bottom: 15px;    
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center
}

.diamenu-item{
    width: 115px;
    height: 60px;
    border-radius: 8px;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    background: #e95c28;
    overflow: hidden;
}

.diamenu :hover{
    background-color: #eb6c3d;
}

.diamenu h2{
    font-family: Arial, sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 400;
    max-width: 60px;
    width: 100%;
    height: 100%;
    font-size: 1em;
    position: absolute;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    text-align: center;
    z-index: 5;
}

.selected {
    background-color: #AF451E;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.36);
}
  
@media (min-width: 64em){
    .header-contact a {
        font-size: 1.2em;
    }
    .diamenu {
        margin-top: 25px;
        padding-bottom: 25px;
        column-gap: 25px;
        max-width: 1200px;
        overflow: unset;
    }
    .diamenu h2{
        max-width: 120px;
    }
    .diamenu-item{
        height: 100px;
        width: 100%;
        font-size: 2em;
    }
}

/* Estilos específicos das seções do cardápio */

.secao h2 {
    background-color: #F9AA33;
    color: #FFF;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

/* Estilos da disposição itens do cardápio */
  
.conteudo {
    display: grid;
    margin-top: 20px;
}
  
@media (min-width: 64em) {
    .conteudo{
        grid-template-columns: repeat(2, 1fr);
        gap: 80px;
        margin: 20px 0px 80px;
    }    
}

/* Estilos dos itens do cardápio */

.menu-item {
    display: grid;
    justify-content: space-between;    
    margin: 0px 0px 0px;
    border: 1px solid #CCC;
    padding: 10px;
    border-radius: 4px;
    background-color: #FFF;
    grid-template-columns: [col1] 120px [col2] auto;
    gap: 25px;
    align-items: start;
}

@media(min-width: 23em){
    .menu-item{        
        grid-template-columns: [col1] 140px [col2] auto;
    }
}

@media(min-width: 64em){
    .menu-item{        
        grid-template-columns: [col1] 240px [col2] auto;
    }
}

.item-img img {
    width: 100%;
    height: 100%;
    margin-right: 20px;
    object-fit: contain;
}

.item-desc h1 {
    margin-bottom: 10px;
    margin: 0px;
    font-size: 1.5em;
    max-width: 230px;
}

@media(min-width: 64em){
    .item-desc h1{
        font-size: 1.8em;
    }
}

.price {
    font-weight: bold;
    color: #F9AA33;
}


/* Botão whatsapp */

.whatsapp {
    position: fixed;
    right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #25d366;
    width: 65px;
    height: 65px;
    border-radius: 100px;
    z-index: 999;
    transition: all 0.3s ease-in-out;
    bottom: 30px;
  }
  
  .whatsapp:hover {
    transform: scale(1.05);
  }
  
  .whatsapp .whatsapp-icon {
    font-size: 38px;
  }
  
  .whatsapp .whatsapp-text {
    display: none;
  }
  
  .whatsapp:hover .whatsapp-text {
    display: block;
    position: absolute;
    right: 100%;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #25d366;
    border-radius: 10px;
    font-size: 12px;
    line-height: 1.2;
  }

@media (min-width: 64em) {
    .whatsapp {
        bottom: 20px;
    }
}
