/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #F2F2F2;
}

nav, main, .footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}
/*
    ESTILOS GLOBAIS
*/

/* Header */
header {
    width: 100%;
    background-color: #FFFFFF;
}
.header-1 {
    display: flex;
}
.header-2 img{
    max-width: 150px;
}
.header-3{
    display: flex;
    justify-self: right;
}
.header-3 p{
    color: #EA2F2F;
    align-self: center;
    margin-right: 10px;
}
.header-3 a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    border-radius: 8px;
    background: #EA2F2F;
    display: flex;
    padding: 8px 10px;
    align-items: center;
    gap: 4px;
}


/* Banner */
.cardapio{
    max-width: 1200px;
    overflow: hidden;
    position: relative;
    display: grid;
    border-radius: 8px;
    background-color: rgb(233, 91, 45);
    order: 0;
    text-align: center;
    -webkit-box-pack: center;
    align-items: center;
    background-image: url('sources/Cardapio.jpg');
    background-position: 50% 50%;
    height: calc(100vh - 155px);
    background-repeat: no-repeat;
}
.cardapio h1{
    font-family: "veneerregular", sans-serif;
    font-weight: 300;
    color: #FFF;
}


/* Menu de dias */
.diamenu{
    display: flex;
    background: #FFF;
    padding: 12px 16px;
    align-items: center;
    border-radius: 16px;
    flex: 1 0 0;
}
.diamenu :hover {
    background-color: #ffc84f;
}
.diamenu h2{
    color: #3C1518;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 16px;
}
.diamenu-item{
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    flex: 1 0 0;
}
.selected {
    display: flex;
    padding: 16px;
    flex: 1 0 0;
    border-radius: 8px;
    background: #FFBB24;
}
.desc{
    margin-bottom: 20px;
    display: none;
}


/* Seção e conteudo */
.secao h2{
    margin: 0 0 20px;
    cursor: pointer;
    border-radius: 4px;
    color: #000;
    padding: 10px;
}
.conteudo {
    display: grid;
}
.menu-item {
    display: grid;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #CCC;
    background-color: #FFF;
    gap: 15px;
    align-items: start;
}
.item-img img {
    width: 100%;
    height: 100%;
    margin-right: 20px;
    object-fit: contain;
}
.item-container{
    position: relative;
    min-height: 135px;
}
.item-container h1 {
    margin: 0;
    max-width: 230px;
}
.price {
    position: absolute;
    font-weight: bold;
    color: #ff0000;
    margin-bottom: 0;
    bottom: 0;
    right: 0;
    text-align: end;
    align-items: end;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.tabela{
    display: flex;
    position:absolute;
    font-weight: bold;
    background-color: #ea2f2f;
    color: #fff;
    margin-bottom: 0;
    bottom: 0;
    right: 0;
    text-align:end;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
}
.tabela img{
    display: flex;
    color: #FFFFFF;
    max-width: 25px;
    align-self: end;
    margin-left: 4px;
}


/* Footer */
footer{
    width: 100%;
    background: #EA2F2F;
    color: #FFFFFF;
    padding-bottom: 16px;
}
footer iframe{
    margin: 15px 0 5px 0;
    border-radius: 25px;
}
footer .linha{
    width: 100%;
    height: 2px;
    background: #BB1E1E;
    margin-bottom: 10px;
}
footer p{
    display: flex;
    justify-content: center;
}


/* WhatsApp */
.whatsapp{
    position: fixed;
    right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #25d366;
    width: 65px;
    height: 65px;
    border-radius: 100px;
    z-index: 999;
    transition: all 0.3s ease-in-out;
}
.whatsapp:hover {
    transform: scale(1.05);
}
.whatsapp .whatsapp-icon {
    font-size: 38px;
}
.whatsapp .whatsapp-text {
    display: none;
}
.whatsapp:hover .whatsapp-text {
    display: block;
    position: absolute;
    right: 100%;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #25d366;
    border-radius: 10px;
    font-size: 12px;
    line-height: 1.2;
}


/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-conteudo {
    background-color: #fff;
    padding: 20px;
    width: 80%;
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}
.fechar {
    color: #aaa;
    float: right;
    cursor: pointer;
    font-weight: bold;
    margin-right: 3px;
    margin-top: -4px;
}
.fechar:hover, .fechar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Tabela do modal */
table {
    width: 100%;
    border-collapse: collapse;
}
table th, table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
table th:first-child, table td:first-child {
    width: 25%;
}
table th:nth-child(2), table td:nth-child(2) {
    width: 35%;
}
table th:nth-child(3), table td:nth-child(3) {
    width: 20%;
}
table th:nth-child(4), table td:nth-child(4) {
    width: 20%;
}

/* Desktop */
@media (min-width: 64em) {
    .header{
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 3fr 1fr 3fr;
        align-items: center;
        color: #000;
        padding: 5px;
    }

    .header-1{
        font-size: 0.9em;
        font-weight: 600;
        justify-self: left;
        background: #FFFFFF;
        color: black;
        padding: 0;
    }

    .header-1 svg{
        display: flex;
    }

    .header-1 p{
        margin-left: 2px;
        padding: 3px;
    }

    .header-2{
        justify-self: center;
    }
    
    .cardapio{
        background-size: 1200px 1000px;
        max-height: 230px;
        margin: 1.5em auto 0 auto;
    }

    .cardapio h1{
        font-size: 4em;
    }

    .diamenu {
        max-width: 1200px;
        margin: 25px auto;
        column-gap: 25px;
        gap: 16px;
        overflow: unset;
    }

    .diamenu h2{
        max-width: 120px;
        font-size: 24px;
    }

    .diamenu-item{
        height: 40px;
        width: 100%;
        font-size: 2em;
    }

    .secao h2{
        font-size: 38px;
    }
    .conteudo{
        grid-template-columns: repeat(2, 1fr);
        gap: 80px;
        margin: 0 0 80px;
    }
    .menu-item{
        margin: 0 0 0;
        grid-template-columns: [col1] 240px [col2] auto;
    }

    .item-container{
        height: 270px;
    }

    .item-container h1{
        font-size: 1.8em;
    }

    .item-desc{
        padding-bottom: 27px;
    }

    .price{
        font-size: 2.2em;
    }

    .tabela{
        font-size: 1.3em;
        padding: 8px;
    }
    @media (max-width: 1106px) {
        .tabela{
            font-size: 1em;
        }
    }

    .whatsapp {
        bottom: 20px;
    }

    .modal-conteudo {
        font-size: 1.2em;
        max-width: 700px;
    }

    .modal-conteudo h2{
        font-size: 2.5em;
    }

    .fechar {
        font-size: 40px;
    }

    table {
        margin-top: 15px;
    }
}

/* Tablet */
@media (min-width: 34.21em) and (max-width: 63.99em) {
    .header{
        display: grid;
        grid-template-areas:
    "barra barra"
    ". .";
    }

    .header-1{
        background: #EA2F2F;
        color: #FFFFFF;
        justify-content: center;
        padding: 8px;
        grid-area: barra;
    }

    .header-1 svg{
        display: none;
    }

    .header-2, .header-3{
        display: flex;
        max-width: 1200px;
        align-items: center;
        padding: 10px;
    }

    .header-2{
        justify-self: left;
    }

    .cardapio{
        background-size: 600px 500px;
        max-height: 190px;
        margin: 1.5em auto 15px auto;
    }
    @media (min-width: 37.5em){
        .cardapio{
            background-size: 800px 666px;
        }
    }
    @media (min-width: 50em){
        .cardapio{
            background-size: 1020px 850px;
        }
    }

    .cardapio h1{
        font-size: 3em;
    }

    .diamenu{
        gap: 16px;
        margin: auto auto 20px;
    }

    .diamenu h2{
        font-size: 24px;
    }

    .diamenu-item{
        font-size: 5px;
    }

    .secao h2 {
        font-size: 38px;
    }

    .conteudo {
        margin: 20px 0 15px;
    }

    .menu-item {
        margin: 0 0 25px;
        grid-template-columns: [col1] 120px [col2] auto;
    }

    .item-container h1 {
        margin-bottom: 10px;
        font-size: 1.5em;
    }

    .item-desc{
        padding-bottom: 50px;
    }

    .price {
        font-size: 1.8em;
    }

    .tabela{
        font-size: 1.2em;
        padding: 7px;
    }

    .whatsapp {
        bottom: 30px;
    }

    .modal-conteudo {
        max-width: 500px;
    }

    .modal-conteudo h2{
        font-size: 2em;
    }

    .fechar {
        font-size: 30px;
    }

    table {
        margin-top: 10px;
    }
}

/* Celular*/
@media (max-width: 34.2em) {
    .header{
        display: grid;
        grid-template-areas:
    "barra barra"
    ". .";
    }

    .header-1{
        background: #EA2F2F;
        color: #FFFFFF;
        justify-content: center;
        padding: 8px;
        grid-area: barra;
        font-size: 0.8em;
    }

    .header-1 svg{
        display: none;
    }

    .header-2, .header-3{
        display: flex;
        max-width: 1200px;
        align-items: center;
    }

    .header-2{
        justify-self: left;
        padding: 10px 5px 10px 10px;
    }

    .header-3{
        padding: 10px 10px 10px 5px;
    }

    .header-3 p{
        display: none;
    }

    .cardapio{
        background-size: 600px 500px;
        max-height: 140px;
        margin: 1.5em auto 15px auto;
    }

    .cardapio h1{
        font-size: 2.5em;
    }

    .diamenu{
        gap: 8px;
        margin: auto auto 20px;
    }

    .diamenu h2{
        font-size: 1.2em;
    }

    .secao h2 {
        font-size: 2em;
    }

    .conteudo {
        margin: 20px 0 15px;
    }

    .menu-item {
        margin: 0 0 25px;
        grid-template-columns: [col1] 120px [col2] auto;
    }

    .item-container h1 {
        margin-bottom: 10px;
        font-size: 1.5em;
    }

    .item-desc{
        padding-bottom: 40px;
    }

    .price {
        font-size: 1.6em;
    }

    .tabela{
        font-size: 1em;
        padding: 5px;
    }

    .whatsapp {
        bottom: 30px;
    }

    .modal-conteudo {
        max-width: 500px;
    }

    .modal-conteudo h2{
        font-size: 2em;
    }

    .fechar {
        font-size: 30px;
    }

    table {
        margin-top: 10px;
    }
}

